body {
  background-color: #3FABAF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  margin-top: 0px;
  margin-bottom: 0px;
  color:rgb(238, 121, 37)
}
.main_table {
  text-align: center;
}
.trow {
  display: table-row;
}
.rowNum {
  display: table-row;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.formOne{
  display: table;
  background-color: #F7EFE5;
  color: black;
  text-align: left;
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:10px;
}
.button{
  float: left;
}
.row_cell {
  font-weight: bolder;
  font-size: 22px;
  padding: 2px;
  color: black;
  background-color: #F7EFE5;
}
.symbol_cell {
  font-size: 22px;
  background-color: #ff9e16;
  font-weight: bolder;
}
.thead {
  border: 0px;
  font-size: 28px;
  padding: 1px;
  font-weight: bolder;
  background-color: #F7EFE5;
}
.user_notes {
  padding: 4px;
  font-size: 22px;
  background-color: #F7EFE5;
  text-align: start;
  font-weight: bolder;
}
@media print {
  .main_table {
    width: 100%;
    border:solid #000 !important;
    font-weight: normal;
  }
  td {
    border:solid #000 !important;
    border-width:0px 1px 2px 0px !important;
  }
  .print_button{
    display: none;
  }
  .thead {
    font-size: 16px;
  }
  .row_cell{
    font-size: 16px;
  }
  .symbol_cell {
    font-size: 12px;
  }
  .user_notes {
    border-collapse: collapse;
    font-size: 16px;
  }
}